<doctype html="">
<title>New Poem - Colorless Green Database</title>
<h2>New Poem</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method="post">
    <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.sentence) }}
    </dl>
    <p><input type="submit" name="submit_button" value="Submit"></p>
    <p><input type="submit" name="generate_button" value="Get Random Sentence">
</p></form>
</doctype>